@page "/AltaUnidad"
@page "/AltaUnidad/{id:int}"
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<div class="rounded w-75 bg-light mx-auto" style="margin:15px;">
    <h3 class="text-center">Alta de Unidad</h3>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <tbody>

                    <tr>
                        <td colspan="4">
                            <input type="text" class="form-control" placeholder="Clave" aria-label="Id_historia">
                        </td>
                        <td colspan="8">
                            <input type="text" class="form-control" placeholder="Nombre" aria-label="Id_historia">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <select class="form-control" aria-label="Default select example">
                                <option selected>Estatus</option>
                                <option value="1"> Activo </option>
                                <option value="2"> Inactivo </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <textarea class="form-control" placeholder="Descripción" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-11" style="text-align:right;">
            <Button Type="primary" @onclick="savedMessage">@saveValue</Button>
            <Button Type="default" @onclick="cancel" Danger>Cancelar</Button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    public String saveValue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            saveValue = "Editar";
        }
        else
        {
            saveValue = "Guardar";
        }
    }

    public async Task savedMessage()
    {
       // if (id != 0)
         //   await JsRuntime.InvokeAsync<object>(identifier: "swal", "Editar", "Almacen Editado correctamente");
        //else
          //  await JsRuntime.InvokeAsync<object>(identifier: "swal", "Guardar", "Nuevo Almacen Guardado correctamente");

        NavigationManager.NavigateTo("/ListaUnidad");
    }
    public async Task newCaso()
    {
        //var res = await JsRuntime.InvokeAsync<object>(identifier: "swal", "Nuevo", "Nuevo Caso de Uso agregado!");
    }

    public async Task cancel()
    {
        //await JsRuntime.InvokeAsync<object>(identifier: "swal", "Cancelar", "Usted cancelo la acción");
        NavigationManager.NavigateTo("/ListaUnidad");
    }
}

