@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="main">
    <Layout Style="min-height: 100vh; ">
        <NavMenu />
        <Layout Class="site-layout" Style=" margin-left: 200px">
            <Header Style=" padding: 0 ; text-align: right; position: fixed; z-index: 1; width: 100vw">
                <div style="padding-right: 250px;">
                    <label style="color: white;">Usuario</label>
                    <Avatar Shape="square" Icon="user" />
                    <Button Size="small" Type="link" OnClick='()=> { NavigationManager.NavigateTo("/");}'>
                        Cerrar Sesión
                    </Button>
                </div>
            </Header>
            <Content Style="padding: 0 50px; margin-top: 64px; overflow: initial; ">
                <div class="site-layout-background" style="padding: 24px;">
                    @Body
                </div>
            </Content>
        </Layout>
    </Layout>

</div>

@code
{

}
